@charset "ISO-8859-1";

td{
	padding: 10px
	
	
}
table{
	border-radius: 20px;
	padding: 10px;
	background-color:#C3FFEB;
	-webkit-box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	
}


body{
	background-image: url("b.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}