@charset "ISO-8859-1";


div{
	margin-top: 20%;
}
table{
	border-radius: 20px;
	padding: 10px;
	background-color:#C3FFEB;
	-webkit-box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	
}

td.img{
	padding-right: 15px
}

body{
	background-image: url("a.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
