@charset "UTF-8";

@font-face {
  font-family: ARMYD;
  font-style: normal;
  font-weight: 400;
  src: url(ARMYD.ttf) format("truetype"),
}

*{
	font-family: ARMYD;
}

tr{
	text-align:center;
	padding: 10px
	
	
}
table{
	
  border-collapse: collapse 10px solid black;
	border-radius: 20px;
	padding: 10px;
	background-color:#C3FFEB;
	-webkit-box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	box-shadow: 20px 21px 36px 7px rgba(0,0,0,0.75);
	
}
body{
	background-image: url("b.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#delete{

}